.header {
    background-color: rgb(44, 40, 40);
    width: 35rem;
    display: flex;
    justify-content: center;
    height: 7rem;
    align-items: flex-end;
}

.header img {
    width: 10rem;
}
body {
    background-color: pink;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 35rem;
    align-items: center;
}
.navigation ul {
    display: flex;
    gap: 2rem;
}

.navigation p {
    margin: 0;
}

li{
    list-style: none;
}

.callSched {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cbutton {
    padding: .8rem;
    border: 1px solid black;
    border-radius: 1rem;
    height: 5px;
}

a {
    text-decoration: none;
    color: black;

}

.banner {
    width: 35rem;
    background-color: rgb(44, 40, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.banner img {
    width: 33rem;

}

.banner h2 {
    margin: 3rem 0 0 0;
    color: pink;
} 

.banner h4 {
    color: white;
}

.cards {
    width: 35rem;
    background-color: rgb(44, 40, 40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card_container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card img{
    width: 10rem;
}

.card {
    background-color: rgb(33, 34, 35);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 90%;
   border-radius: 0.5rem;
   margin-left: 0.65rem;
}

.bottom {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.bottom a:hover{
    background-color: pink;
    color: rgb(33, 34, 35);
    transition: 0.5s ease;
}

.card h2, .card h3 {
    margin: 0;
}

.card h3{
    color: pink;
}

.card_container{
    color: white;
}

.card_container a {
    color: pink;
    border: 1px solid pink;
    padding: 0.5rem;
    border-radius: 0.5rem;
}




.newItems_container {
    display: flex;
    background-color: rgb(33, 34, 35);
}

.newItems_container img {
    width: 15rem;
}

.newItems {
    width: 35rem;
    background-color: rgb(44, 40, 40);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buy {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.buy a {
    color: pink;
    border: 1px solid pink;
    padding: 0;
    border-radius: 0.5rem;
    height: 2rem;
    width: 5rem;
}

.buy {
    display: flex;
    align-items: center;
}

.sushiDeets p {
    color: white;
}

.sushiDeets h4 {
    color: white;
}

.sushiDeets h3 {
    color: pink;
}

.categories {
    text-align: center;
    background-color: rgb(44, 40, 40);
    width: 35rem;
}

.categ_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

.categ_container img {
    width: 10rem;
}

.footer {
    background-color: rgb(33, 34, 35);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 35rem;
}

.footer img {
    width: 3.5rem;
}

.foot_elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.foot_elements a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot_elements p {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.fake {
    position: relative;
    
}

.categ:hover {
    cursor: pointer;
}

.categ:hover .fake {
    z-index: -999;
}

.tunay {
    position: absolute;

}
.pinakang-footer {
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pinakang-footer ul{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.social_media {
    display: flex; 
    justify-content: space-around;
    width: 60%;
}

.pinakang-footer p a {
    color: blue;
    text-decoration: underline;
}

@media screen and (max-width:550px) {
    .card_container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .card img{
        width: 20rem;
    }

    .card .bottom a {
        width: 20rem;
    }

    .newItems_container{
        display: flex;
        flex-direction: column;
    }

    .newItems_container img {
        order: 1;
    }

    .sushiDeets {
        width: 85%;
    }

    .sushiDeets a {
        width: 15rem;
    }

    .categ_container {
        display: flex;
        flex-direction: column;
    }



}

.titles {
    color: pink;
}